# For Mac users
.DS_Store

# For vim users
*~

# Artifacts left by fabric deployer
build.tgz
build/
*.pyc

contents/about/contact-us/.DS_Store

contents/about/events/.DS_Store

contents/about/jobs/.DS_Store

contents/about/news/2012-12-18-2/.DS_Store

contents/account/login/.DS_Store

contents/account/reset-password-complete/.DS_Store

contents/authors/.DS_Store

contents/css/.DS_Store

templates/includes/.DS_Store

templates/includes/.DS_Store

contents/images/.DS_Store

contents/images/.DS_Store
