#section-footer
    .holder
        #footer-menu
          ul.menu
            li
              a(href='/about/') About
              ul
                li
                  a(href='/about/') Overview
                li
                  a(href='/about/team/') Team
                li
                  a(href='/about/news/') News
                li
                  a(href='/about/events/') Events
                li
                  a(href='/about/partners/') Partners
                li
                  a(href='/about/newsletter/') Newsletter
                li
                  a(href='/about/jobs/') Jobs
                li
                  a(href='/about/contact-us/') Contact
                li
                  a(href='/blog/') Blog
          ul.menu
            li
              a(href='/developers/', target='_blank') Developers
              ul
                li
                  a(href='/developers') Overview
                li
                  a(href='http://status.precog.com') API Status
                li
                  a(href='http://support.precog.com') Support
          ul.menu
            li
              a(href='/solutions/') Solutions
              ul
                li
                  a(href='/solutions/') Overview
                li
                  a(href='/solutions/embedded-reporting/') Embedded Reporting
                li
                  a(href='/solutions/data-science/') Data Science
                li
                  a(href='/solutions/data-productization/') Data Productization
                li
                  a(href='/solutions/no-sql-analytics/') NoSQL Analytics
          ul.menu
            li
              a(href='/products/') Products
              ul
                li
                  a(href='/products/') Overview
                li
                  a(href='/products/precog/') Precog
                  ul
                    li
                      a(href='/products/precog/') Overview
                    li
                      a(href='/products/precog/success-stories/') Success Stories
                    li
                      a(href='/products/precog/marketplace/') Marketplace
                    li
                      a(href='/editions/precog-cloud/') Pricing
                li
                  a(href='/products/reportgrid/') ReportGrid
                li
                  a(href='/products/labcoat/') Labcoat
                  ul
                    li
                      a(href='/products/labcoat/') Overview
                    li
                      a(href='/products/labcoat/learn/') Learn
                    li
                      a(href='/products/labcoat/quirrel/') Quirrel
          ul.menu
            li
              a(href='/how-it-works/') How It Works
              ul
                li
                  a(href='/how-it-works/') Overview
                li
                  a(href='/how-it-works/why-precog/') Why Precog
        #footer-content
          h1 (888) 673-9958
          a.icon.blog(href='/blog/')
          a.icon.newsletter(href='/about/newsletter/')
          a.icon.facebook(href='http://www.facebook.com/pages/Precog/136686693120257?sk=wall', target='_blank')
          a.icon.twitter(href='https://twitter.com/@Precog', target='_blank')
          #copyrights
            p Copyright &#64; 2012-2013 ReportGrid, Inc. All Rights Reserved
            ul.menu
              li
                a(href='/terms-and-service/') privacy and terms of use