.holder
  #footer-menu
    ul.menu
      li
        a(href='/about/') About
        ul
          li
            a(href='/about/') Overview
          li
            a(href='/about/contact-us/') Contact
          li
            a(href='/blog/') Blog
    ul.menu
      li
        a(href='/for-developers/') For Developers
        ul
          li
            a(href='/for-developers/') Overview
          li
            a(href='/developers/getting-started/overview/', target='_blank') Dev Center
          li
            a(href='http://status.precog.com') API Status
          li
            a(href='http://support.precog.com') Support
    ul.menu
      li
        a(href='/for-businesses/') For Businesses
        ul
          li
            a(href='/for-businesses/') Overview
          li
            a(href='/solutions/white-label-reporting/') White Label Reporting
          li
            a(href='/solutions/social-media-analytics/') Social Media Analytics
          li
            a(href='/solutions/web-analytics/') Web Analytics
  #footer-content
    h1 (888) 673-9958
    #copyrights
      a(href='/legal/') privacy and terms of use
      p Copyright @ 2012-2013 ReportGrid, Inc. All Rights Reserved