#section-header
    .holder
        #header-logo
          a(href='http://www.precog.com')
            img(src='/images/logo-precog.png', alt='Precog')
        #header-mini-menu
          ul.menu
            li
              a#login-link(href='/account/login/') Login
            li
              a(href='http://blog.precog.com') Blog
            li
              a(href='http://support.precog.com') Support
            li
              a(href='/about/contact-us/') Contact
        #header-menu
          ul.menu
            li
              a(href='/about/') About
              ul
                li
                  a(href='/about/') Overview
                li
                  a(href='/about/team/') Team
                li
                  a(href='/about/news/') News
                li
                  a(href='/about/events/') Events
                li
                  a(href='/about/partners/') Partners
                li
                  a(href='/about/newsletter/') Newsletter
                li
                  a(href='/about/jobs/') Jobs
                li
                  a(href='/about/contact-us/') Contact
                li
                  a(href='http://blog.precog.com') Blog
          ul.menu
            li
              a(href='/developers/', target='_blank') Developers
              ul
                li
                  a(href='/developers/') Overview
                li
                  a(href='http://status.precog.com/') API Status
                li
                  a(href='http://support.precog.com/') Support
          ul.menu
            li
              a(href='/solutions/') Solutions
              ul
                li
                  a(href='/solutions/') Overview
                li
                  a(href='/solutions/embedded-reporting/') Embedded Reporting
                li
                  a(href='/solutions/data-science/') Data Science
                li
                  a(href='/solutions/data-productization/') Data Productization
                li
                  a(href='/solutions/nosql-analytics/') NoSQL Analytics
          ul.menu
            li
              a(href='/products/') Products
              ul
                li
                  a(href='/products/') Overview
                li
                  a(href='/products/precog/') Precog
                  ul
                    li
                      a(href='/products/precog/') Overview
                    li
                      a(href='/products/precog/success-stories/') Success Stories
                    li
                      a(href='/products/precog/marketplace/') Marketplace
                    li
                      a(href='/editions/precog-cloud/') Pricing
                li
                  a(href='/products/reportgrid/') ReportGrid
                li
                  a(href='/products/labcoat/') Labcoat
                  ul
                    li
                      a(href='/products/labcoat/') Overview
                    li
                      a(href='/products/labcoat/learn/') Learn
                    li
                      a(href='/products/labcoat/quirrel/') Quirrel
          ul.menu
            li
              a(href='/how-it-works/') How It Works
              ul
                li
                  a(href='/how-it-works/') Overview
                li
                  a(href='/how-it-works/why-precog/') Why Precog
