.holder
    #header-logo
      a(href='/')
        img(src='/images/logo-precog.png', alt='Precog')
    #header-mini-menu
      ul.menu
        li
          a#login-link(href='/account/login/') Login
        li
          a(href='/blog/') Blog
        li
          a(href='http://support.precog.com') Support
        li
          a(href='/about/contact-us/') Contact