.holder
  ul#pricing-options-menu
    li.active Managed Cloud
    li Hardware Appliance
    li Virtual Appliance
  .clear-left
  #pricing-options-cloud.pricing-panel
    ul.titles
      li
      li Developer
      li Small
      li Medium
      li Large
      li Enterprise
    ul.threads
      li THREADS
      li 1
      li 4
      li 8
      li 16
      li >32
    ul.storage
      li SSD STORAGE
      li 100 MB
      li 10 GB
      li 255 GB
      li 500 GB
      li >1 TB
    ul.sla
      li SLA
      li -
      li 99.99%
      li 99.999%
      li 99.999%
      li 99.999%
    ul.cost
      li
      li Free!
      li
        | $500
        span Month
      li
        | $2750
        span Month
      li
        | $5000
        span Month
      li Contact Us
    ul.buy
      li
      li
        a.red-background.small-full-button-tl(href='/account/login/') Get Started
      li
        a.red-background.small-full-button-tl(href='https://precog.recurly.com/subscribe/precog-small') Sign Up
      li
        a.red-background.small-full-button-tl(href='https://precog.recurly.com/subscribe/precog-medium') Sign Up
      li
        a.red-background.small-full-button-tl(href='https://precog.recurly.com/subscribe/precog-large') Sign Up
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
    .clear-left
  #pricing-options-hardware.pricing-panel
    ul.titles
      li
      li Entry
      li Small
      li Medium
      li Large
      li Custom
    ul
      li CPU CORES
      li 2
      li 4
      li 8
      li 16
      li Any
    ul
      li DISK
      li 1 TB
      li 2 TB
      li 3 TB
      li 4 TB
      li Any
    ul
      li RAM
      li 32 GB
      li 96 GB
      li 192 GB
      li 384 GB
      li Any
    ul.cost
      li
      li $7500
      li $15000
      li $30000
      li $60000
      li Contact Us
    ul.buy
      li
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
    .clear-left
  #pricing-options-appliance.pricing-panel
    ul.titles
      li
      li Entry
      li Small
      li Medium
      li Large
      li Custom
    ul
      li CPU CORES
      li 2
      li 4
      li 8
      li 16
      li Any
    ul
      li STORAGE LIMIT
      li 100 GB
      li 255 GB
      li 500 GB
      li 1 TB
      li Any
    ul
      li RAM LIMIT
      li 32 GB
      li 96 GB
      li 192 GB
      li 384 GB
      li Any
    ul.cost
      li
      li $5000
      li $10000
      li $20000
      li $40000
      li Contact Us
    ul.buy
      li
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
      li
        a.red-background.small-full-button-tl(href='mailto:sales@precog.com') Contact Us
    .clear-left
