* {
    border: 0;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: helvetica, sans-serif;
    position: relative;
}

/*GENERAL SETTINGS*/
.clear {
    clear: both;
}

.active {
    display: block !important;
}

body {
    background-color: #fefefe;
}

.holder, #body, footer {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

/*SPECIAL FONT FORMATTING*/


/*FONT PADDING*/
/*P*/
p + p {
    margin-top: 20px;
}

p + h1, p + h2, p + h3, p + h4, p + h5 {
    margin-top: 20px;
}

p + ul, p + ol {
    margin-top: 8px;
}

/*H*/
h1 + h2, h2 + h3 {
    margin-top: 16px;
}

h3 + h4 {
    margin-top: 12px;
}

h4 + h5 {
    margin-top: 8px;
}

h1 + p, h2 + p {
    margin-top: 4px;
}

h3 + p, h4 + p, h5 + p {
    margin-top: 0px;
}

/*UL*/
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul {
    margin-top: 8px;
}

ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + p, ul + pre, ul + ul, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + p, ol + pre, ol + ol {
    margin-top: 30px;
}

/*LI*/
li + li {
    margin-top: 8px;
}

/*PRE*/
h1 + pre, h2 + pre, h3 + pre, h4 + pre, h5 + pre, p + pre, pre + pre {
    margin-top: 8px;
}

ul + pre, ol + pre {
    margin-top: 24px;
}

pre + h1, pre + h2, pre + h3, pre + h4, pre + h5, pre + ol, pre + ul, pre + p {
    margin-top: 30px;
}

/*HEADER*/
/*BEGIN OTHER*/
header {
    position: fixed;
    top: 0px;
    width: 100%;
    min-width: 1050px;
    height: 60px;
    z-index: 10000;
    background-color: #fefefe;
}

header #header-logo {
    position: absolute;
    top: 14px;
    width: 200px;
    z-index: 2000;
}

/*HEADER MINI-MENU*/
#header-mini-menu {
    position: absolute;
    right: 0px;
    top: 16px;
    width: 1000px;
    z-index: 1000;
}

#header-mini-menu ul {
    list-style-type: none;
}

#header-mini-menu li a {
    padding: 4px 10px 4px 30px;
    float: right;
    font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    color: #808080;
    text-decoration: none;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border-right: 1px solid #808080;
}

#header-mini-menu li a:hover {
    background-color: #cccccc;
    color: #fff;
    border-right: 1px solid #cccccc;
}

/*BODY*/
#body {
    margin-top: 80px;
    margin-bottom: 40px;
}

/*BODY MENU*/
#page-title {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 18pt;
    color: #ff0000;
    border-bottom: 1px solid #dedede;
    padding-bottom: 26px;
}

#body-menu {
    width: 280px;
    height: 100px;
    margin-right: 40px;
    float: left;
}

#body-menu #fixed-menu {
    position: fixed;
    width: 280px;
}

#body-menu ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#body-menu > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-family: lato, sans-serif;
    font-weight: bold;
    border-left: 4px solid #ff0000;
    padding-left: 10px;
}

#body-menu ul ul {
    display: none;
}

#body-menu ul ul > li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-family: lato, sans-serif;
    font-weight: normal;
    border-left: 1px dotted #999;
    padding-left: 20px;
}

#body-menu a {
    transition: .5s;
    -webkit-transition: .5s;
}

#body-menu a:hover {
    -moz-box-shadow:inset 0px 0px 3px #000000;
    -webkit-box-shadow:inset 0px 0px 3px #000000;
    box-shadow:inset 0px 0px 3px #000000;
}

/*BODY CONTENT*/
#body-content {
    width: 680px;
    float: left;
}

/*SPECIAL FONT FORMATTING*/
#body-content a {
    color: #ff0000;
    text-decoration: underline;
}

#body-content p {
    font-family: helvetica, sans-serif;
    font-weight: 300;
    color: #1C1C1C;
    line-height: 1.6;
}

#body-content h1, h2, h3, h4, h5 {
    font-family: montserrat, sans-serif;
}

#body-content h1 {
    color: #666;
    text-transform: uppercase;
    border-bottom: 1px solid #dedede;
    padding-bottom: 16px;
}

#body-content h2 {
    color: #666;
    border-top: 1px solid #dedede;
    padding-top: 20px;
}

#body-content ul li {
    line-height: 1.4;
    color: #1c1c1c;
}

#body-content pre {
    padding: 20px;
    border-radius: 4px;
    background-color: #ebebeb;
    -moz-box-shadow:inset 0px 0px 3px #000000;
    -webkit-box-shadow:inset 0px 0px 3px #000000;
    box-shadow:inset 0px 0px 3px #000000;
    overflow: auto;
}

#body-content pre code {
    font-family: courier, monospace;
    font-size: 10pt;
}

#body-content ul, ol {
    margin-left: 24px;
}

/*DYNAMIC BODY MENU*/
#section-index {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 0px !important;
    list-style: none;
}

#section-index .h2 {
    font-size: 11pt;
    line-height: 1.4;
}

#section-index .h3 {
    font-size: 9pt;
    line-height: 1.2;
    padding-left: 10px;
}

/*TOOL TIP*/
#body .tt-link {
    border-bottom: 1px solid #4986a6;
    cursor: help;
    font-style: italic;
}

#body #developer-center-tooltips {
    position: absolute;
    top: 0px;
    left: 0px;
}

#body #developer-center-tooltips .tool-tip {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    top: 0px;
    left: 0px;
    font-size: 10pt;
    display: none;
    width: 300px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

#body #developer-center-tooltips h4 {
    margin-bottom: 10px;
}

#body #developer-center-tooltips h4 span {
    color: #ff0000 !important;
    text-decoration: none !important;
    border: none !important;
    margin-bottom: 10px;
}

/*REST REQUEST*/
ul.rest-request {
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    margin: 20px 0px 20px 0px !important;
    list-style: none;
    border: 1px dotted #dedede;
}

ul.rest-request li:nth-child(1) {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 24px;
    padding-top: 6px;
    padding-right: 10px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: right;
    background-color: #bababa;
    color: #fff !important;
    font-size: 10pt;
}

ul.rest-request li:nth-child(2) {
    border-left: 1px solid #ff0000;
    font-size: 14pt;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 4px;
}

ul.rest-request li:nth-child(3) {
    border: 1px solid #ff0000;
    margin-top: 0px;
    font-size: 11pt;
    padding: 10px;
    line-height: 1.6;
    color: #666;
}

ul.rest-request li:nth-child(4) {
    border-left: 1px solid #4986a6;
    font-size: 14pt;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 4px;
    margin-top: 20px;
}

ul.rest-request li:nth-child(5) {
    border: 1px solid #4986a6;
    margin-top: 0px;
    font-size: 11pt;
    padding: 10px;
    line-height: 1.6;
}

ul.rest-request li:nth-child(6) {
    border-left: 1px solid #666;
    font-size: 14pt;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 4px;
    margin-top: 20px;
}

ul.rest-request li:nth-child(7) {
    margin-top: 0px;
}

ul.rest-request li:nth-child(7) pre {
    border-radius: 0px !important;
}

ul.rest-request li:nth-child(8) {
    border-left: 1px solid #666;
    font-size: 14pt;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 4px;
    margin-top: 20px;
}

ul.rest-request li:nth-child(9) {
    border-left: 1px solid #666;
    margin-top: 0px;
}

ul.rest-request li:nth-child(10) {
    margin-top: 0px;
}

ul.rest-request li:nth-child(10) pre {
    border-radius: 0px !important;
}