#body-splash, #body-solutions, #body-features, #body-getting-started, #body-pricing, #body-contactus {
    padding-top: 40px;
    padding-bottom: 40px;
}

#body-overview {
    padding-top: 40px;
}

#body-splash {
    
}

/*BODY OVERVIEW*/
#body-overview {
    
}

/* FOR BUSINESSES */
#body-splash .image-panel {
    display: block;
    float: left;
    width: 45%;
    margin-right: 5%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center top;
}

#body-splash .image-panel .grey {
    color: #666;
}

#body-splash .image-panel .blue {
    color: #5AA4CC;
}

.for-business-image {
    background-image: url("/images/graphic-server-shelf.png");
}

.for-social-media-image {
    background-image: url("/images/graphic-splash-social-media.png");
}

.for-whitelabel-reporting {
    background-image: url("/images/graphic-splash-whitelabel-reporting.png");
}

.for-web-analytics {
    background-image: url("/images/graphic-splash-web-analytics.png");
}

#body-splash .image-panel pre {
    font-size: 8pt;
    padding: 8px;
    margin-top: 0px;
    border: none;
}

#body-splash .text-panel {
    float: left;
    width: 50%;
}

#body-splash .text-panel h2 {
    font-size: 50pt;
    letter-spacing: 1px;
    font-family: montserrat, serif;
    color: #5AA4CC;
    line-height: 0.9;
    padding-bottom: 30px;
}

#body-splash .text-panel p {
    font-size: 18pt;
    letter-spacing: 1px;
    font-family: helvetica, sans-serif;
}

#body-splash .text-panel p.medium {
    font-size: 16pt;
    letter-spacing: 1px;
    font-family: helvetica, sans-serif;
}

/*SOLUTIONS SECTION*/
#body-solutions {
    background-color: #333;
    background-image: -moz-radial-gradient(50% 50%,ellipse closest-side,#333,#14171a 100%);
    background-image: -webkit-radial-gradient(50% 50%,ellipse closest-side,#333,#14171a 100%);
    background-image: -o-radial-gradient(50% 50%,ellipse closest-side,#333,#14171a 100%);
    background-image: -ms-radial-gradient(50% 50%,ellipse closest-side,#333,#14171a 100%);
    background-image: radial-gradient(50% 50%,ellipse closest-side,#333,#14171a 100%);
}

.solutions-option {
    display: block;
    height: 280px;
    float: left;
    width: 275px;
    margin-right: 5%;
    background-color: #000;
    border-radius: 6px;
    padding: 19px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #000;
}

.solutions-option:hover {
    background-color: #14171A;
    border: 1px solid #3C454D;
}

#body-solutions .solutions-option h1 {
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}

.solutions-option .img {
    margin-bottom: 20px;
    height: 160px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

#body-solutions a:first-child .img {
    background-image: url("/images/graphic-solutions-social-media-analytics.png");
}

#body-solutions a:nth-child(2) .img {
    background-image: url("/images/graphic-solutions-web-analytics.png");
}

#body-solutions a:nth-child(3) .img {
    background-image: url("/images/graphic-solutions-whitelabel-reporting.png");
}

/*HOW IT WORKS*/
#hiw-menu {
    height: 60px;
    background: rgb(45,82,102); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(45,82,102,1) 0%, rgba(29,51,64,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,82,102,1)), color-stop(100%,rgba(29,51,64,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(45,82,102,1) 0%,rgba(29,51,64,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(45,82,102,1) 0%,rgba(29,51,64,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(45,82,102,1) 0%,rgba(29,51,64,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(45,82,102,1) 0%,rgba(29,51,64,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d5266', endColorstr='#1d3340',GradientType=0 ); /* IE6-9 */
}

#hiw-menu ul li {
    float: left;
    height: 60px;
    line-height: 60px;
    width: 25%;
    list-style-type: none;
    text-align: center;
    font-family: questrial, sans-serif;
    margin-left: 0px;
    color: #61b1dc;
    font-size: 16pt;
    padding: 0px;
    cursor: pointer;
    background: rgb(62,113,140); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(62,113,140,1) 0%, rgba(34,62,77,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,113,140,1)), color-stop(100%,rgba(34,62,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(62,113,140,1) 0%,rgba(34,62,77,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(62,113,140,1) 0%,rgba(34,62,77,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(62,113,140,1) 0%,rgba(34,62,77,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(62,113,140,1) 0%,rgba(34,62,77,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e718c', endColorstr='#223e4d',GradientType=0 ); /* IE6-9 */
}

#hiw-menu ul li:hover {
    background: rgb(34,62,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(34,62,77,1) 0%, rgba(28,49,61,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,62,77,1)), color-stop(100%,rgba(28,49,61,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(34,62,77,1) 0%,rgba(28,49,61,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(34,62,77,1) 0%,rgba(28,49,61,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(34,62,77,1) 0%,rgba(28,49,61,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(34,62,77,1) 0%,rgba(28,49,61,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223e4d', endColorstr='#1c313d',GradientType=0 ); /* IE6-9 */
}

#hiw-menu .arrow-up {
    position: absolute;
    top: 48px;
    left: 118px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #61b1dc;
    display: block;
}

#howitworks-panel {
    display: block;
    border: 1px solid #3c454d;
    border-top: none;
    background-color: #000;
    width: 1048px;
    height: 189px;
}

#howitworks-panel ul li i {
    position: absolute;
    top: 2px;
    left: 6px;
    font-size: 20pt;
}

#howitworks-panel pre {
    padding: 10px 10px 10px 20px;
    border: none;
    font-size: 12pt;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.panel.active, .active-content {
    display: block !important;
}

.panel ul.first, #simple-code-box .first {
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 6px;
}

.panel ul.first li, #simple-code-box .first li {
    background-color: #1E2226;
    width: 90px;
    list-style: none;
    font-family: Montserrat, sans-serif;
    text-align: right;
    padding: 6px;
    margin-left: 0px !important;
    cursor: pointer;
    float: none !important;
}

#simple-code-box pre {
    padding: 10px 10px 10px 20px;
    border: none;
    font-size: 8pt;
}

.panel ul.first li:hover, #simple-code-box .first li:hover {
    background-color: #9AB4CC;
    color: #1E2226 !important;
}

#howitworks-panel .panel-content {
    position: absolute;
    width: 950px;
    display: none;
}

/*FEATURES*/
#body-features ul {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#body-features ul li {
    margin-left: 0px !important;
    list-style-type: none;
    display: block;
}

#body-features ul li p {
    padding: 0px;
}

#body-features ul li:nth-child(even) {
    float: left;
    width: 43%;
    padding: 2%;
    margin-right: 6%;
    margin-bottom: 0px;
}

#body-features ul li:nth-child(odd) {
    float: left;
    width: 43%;
    padding: 2%;
    margin-bottom: 0px;
}

/*PRICING OPTIONS*/
#pricing-options-menu {
    width: 100%;
}

#pricing-options-menu li {
    text-transform: uppercase;
    cursor: pointer;
    width: 20%;
    height: 40px;
    line-height: 40px !important;
    float: left;
    margin-left: 0px !important;
    list-style: none;
    text-align: center;
    font-size: 10pt !important;
    margin-right: 2px;
    letter-spacing: 1px;
    font-family: montserrat, sans-serif !important;
    background: rgb(40,46,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(40,46,51,1) 0%, rgba(20,23,26,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,46,51,1)), color-stop(100%,rgba(20,23,26,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(40,46,51,1) 0%,rgba(20,23,26,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(40,46,51,1) 0%,rgba(20,23,26,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(40,46,51,1) 0%,rgba(20,23,26,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(40,46,51,1) 0%,rgba(20,23,26,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282e33', endColorstr='#14171a',GradientType=0 ); /* IE6-9 */
}

#pricing-options-menu li.active {
    color: #000;
    background: rgb(229,105,44); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,105,44,1) 0%, rgba(193,55,7,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,105,44,1)), color-stop(100%,rgba(193,55,7,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,105,44,1) 0%,rgba(193,55,7,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,105,44,1) 0%,rgba(193,55,7,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,105,44,1) 0%,rgba(193,55,7,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,105,44,1) 0%,rgba(193,55,7,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5692c', endColorstr='#c13707',GradientType=0 ); /* IE6-9 */
}

#pricing-options-menu li:nth-child(1) {
    border-top-left-radius: 6px;
}

#pricing-options-menu li:nth-child(3) {
    border-top-right-radius: 6px;
}

#pricing-options-menu li:hover {
    background-color: #617280;
}

#pricing-options-hardware, #pricing-options-appliance {
    display: none;
}

#body-pricing {
    height: 440px;
}

#body-pricing .pricing-panel {
    position: absolute;
    width: 100%;
}

#body-pricing .pricing-panel ul li {
    float: left;
    height: 60px;
    line-height: 60px;
    width: 16.66%;
    list-style: none;
    margin-left: 0px !important;
    text-align: center;
    border-bottom: 1px solid #14171A;
    background-color: #282e33;
}

#body-pricing .pricing-panel ul.titles li {
    height: 60px;
    line-height: 60px;
    font-size: 16pt;
    font-family: montserrat, serif;
    letter-spacing: 1px;
}

#body-pricing .pricing-panel ul li:nth-child(odd) {
    background-color: #1E2226;
}

#body-pricing .pricing-panel ul.cost li {
    color: #61b1dc;
    font-size: 20pt;
    height: 90px;
    line-height: 80px;
}

#body-pricing .pricing-panel ul.cost li:first-child {
    border-bottom-left-radius: 6px;
}

#body-pricing .pricing-panel ul.cost li:last-child {
    border-bottom-right-radius: 6px;
}

#body-pricing .pricing-panel ul.cost li span {
    display: block;
    top: -16px;
    line-height: 0px;
    color: #fff;
    font-size: 10px;
}

#body-pricing .pricing-panel ul.buy li {
    background-color: transparent;
}

/* GETTING STARTED SECTION */
#body-getting-started .holder {
    padding-left: 50px;
    width: 970px;
}

#body-getting-started .precog-account-form {
    width: 700px;
}

#body-getting-started .precog-account-form dl {
    float: left;
    width: 45%;
    padding-right: 10%;
}

#body-getting-started .precog-account-form dl input {
    width: 100% !important;
}

#body-getting-started .precog-account-form dl:nth-child(even) {
    padding-right: 0px !important;
}

#body-getting-started h2 span {
    position: absolute;
    left: -50px;
    line-height: 60px;
    font-family: questrial, serif;
    font-size: 40pt;
    color: #61b1dc;
}

#body-getting-started h2 {
    line-height: 60px;
}

#body-getting-started ul li {
    list-style: none;
    float: left;
    text-align: center;
    padding: 0px;
}

#body-getting-started ul li a {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 6px;
    background-color: #000;
}

#body-getting-started ul li a:hover {
    background-color: #617280;
    color: #000;
}

/*DEPLOYMENT OPTIONS*/
#deployment-options {
    
}

.deployment-option {
    float: left;
    width: 31%;
    padding: 1%;
}

#deployment-options .deployment-option h1 {
    font-family: Montserrat, serif;
    font-weight: normal;
    font-size: 16pt;
}

/*BLOG ITEM*/
#section-body .blog-item {
    border-radius: 6px;
    background-color: #14171A;
    padding: 20px;
    margin-bottom: 10px;
}

#section-body .blog-item .author {
    font-size: 9pt !important;
}

#section-body .blog-item p {
    
}

#search-box {
    margin-bottom: 20px;
}

.archive ul li a {
    font-size: 10pt !important;
}

.blog-short-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.blog-short-item a {
    font-size: 10pt;
    padding-top: 4px;
    padding-bottom: 4px;
}

/*LOGIN PAGE*/
#reset-password {
    font-size: 10pt;
}

/*ACCOUNT PAGE*/
#precog-account-details #account-name h3, #precog-account-details #account-email h3, #precog-account-details #account-company h3 {
    font-size: 10pt;
    color: #5AA4CC;
}
#precog-account-details #products-links {
    margin-top: 20px;
    margin-bottom: 20px;
}

a.product-link-labcoat-account {
    width: 100% !important;
    margin-right: 0% !important;
    display: block;
    border: 1px solid #E4A847;
    border-radius: 6px;
    outline: none;
    box-shadow: #000 2px 2px 5px;
    -webkit-box-shadow: #000 2px 2px 5px;
    -moz-box-shadow: #000 2px 2px 5px;
    background-repeat: no-repeat;
    background: url("/images/logo-dark-labcoat.png") no-repeat center, #ea7c24;
    background: url("/images/logo-dark-labcoat.png") no-repeat center, -moz-linear-gradient(top,  #ea7c24 0%, #D64327 100%);
    background: url("/images/logo-dark-labcoat.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea7c24), color-stop(100%,#D64327));
    background: url("/images/logo-dark-labcoat.png") no-repeat center, -webkit-linear-gradient(top,  #ea7c24 0%,#D64327 100%);
    background: url("/images/logo-dark-labcoat.png") no-repeat center, -o-linear-gradient(top,  #ea7c24 0%,#D64327 100%);
    background: url("/images/logo-dark-labcoat.png") no-repeat center, -ms-linear-gradient(top,  #ea7c24 0%,#D64327 100%);
    background: url("/images/logo-dark-labcoat.png") no-repeat center, linear-gradient(to bottom,  #ea7c24 0%,#D64327 100%);
}

a.product-link-labcoat-account:hover {
    border: 1px solid #FCC068;
    box-shadow: #000 2px 2px 5px, inset 0 0 30px #000;
    -webkit-box-shadow: #000 2px 2px 5px, inset 0 0 30px #000;
    -moz-box-shadow: #000 2px 2px 5px, inset 0 0 30px #000;
    background: url("/images/logo-dark-labcoat.png") no-repeat center,  #D64327; /* Old browsers */
    background: url("/images/logo-dark-labcoat.png") no-repeat center,  -moz-linear-gradient(top,  #D17127 0%, #C53C22 100%); /* FF3.6+ */
    background: url("/images/logo-dark-labcoat.png") no-repeat center,  -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D17127), color-stop(100%,#C53C22)); /* Chrome,Safari4+ */
    background: url("/images/logo-dark-labcoat.png") no-repeat center,  -webkit-linear-gradient(top,  #D17127 0%,#C53C22 100%); /* Chrome10+,Safari5.1+ */
    background: url("/images/logo-dark-labcoat.png") no-repeat center,  -o-linear-gradient(top,  #D17127 0%,#C53C22 100%); /* Opera 11.10+ */
    background: url("/images/logo-dark-labcoat.png") no-repeat center,  -ms-linear-gradient(top,  #D17127 0%,#C53C22 100%); /* IE10+ */
    background: url("/images/logo-dark-labcoat.png") no-repeat center,  linear-gradient(to bottom,  #D17127 0%,#C53C22 100%); /* W3C */
}

/*TERMS OF SERVICE AND USE*/
#terms-of-service #numbered li {
    list-style-type: none;
    margin-left: 0px;
}

#terms-of-service #numbered li span {
    color: #5AA4CC;
    font-size: 16pt;
}

/* TEAM */
/*TEAM PAGE*/
#section-body #team-cards #cards-slider {
    width: 5000px;
    left: 0px;
}

#section-body #previous {
    background-image: url("/images/graphic-team-left-arrow.png");
    background-position: 1010px center;
    background-repeat: no-repeat;
    background-color: #000;
    position: absolute;
    width: 80px;
    height: 304px;
    left: -1080px;
    top: 329px;
    opacity: 0.7;
    padding-left: 1000px;
    background-color: #000;
}

#section-body #next {
    background-image: url("/images/graphic-team-right-arrow.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    position: absolute;
    right: -1072px;
    width: 80px;
    height: 304px;
    top: 329px;
    opacity: 0.7;
    padding-right: 1000px;
    background-color: #000;
}

#section-body #team-cards ul {
    list-style-type: none !important;
}

#section-body #team-cards ul li {
    list-style-type: none !important;
    margin: 0px !important;
    float: left;
    width: 200px;
    padding-bottom: 0px;
    height: 300px;
    background-color: #000;
    color: #fff;
    font-family: questrial, sans-serif;
    font-size: 10pt;
    text-align: center;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: center bottom;
    list-style-image: none !important;
}

#section-body #team-cards .johndegoes {
    background-image: url("/images/photo-team-johndegoes.jpg");
}

#section-body #team-cards .jeffcarr {
    background-image: url("/images/photo-team-jeffcarr.jpg");
}

#section-body #team-cards .natashadanko {
    background-image: url("/images/photo-team-tashadanko.jpg");
}

#section-body #team-cards .francoponticelli {
    background-image: url("/images/photo-team-francoponticelli.jpg");
}

#section-body #team-cards .milessabin {
    background-image: url("/images/photo-team-empty.png");
}

#section-body #team-cards .krisnuttycombe {
    background-image: url("/images/photo-team-krisnuttycombe.jpg");
}

#section-body #team-cards .matthewdegoes {
    background-image: url("/images/photo-team-matthewdegoes.jpg");
}

#section-body #team-cards .danielspiewak {
    background-image: url("/images/photo-team-danielspiewak.jpg");
}

#section-body #team-cards .nathanlubchenco {
    background-image: url("/images/photo-team-nathanlubchenco.jpg");
}

#section-body #team-cards .tomswitzer {
    background-image: url("/images/photo-team-empty.png");
}

#section-body #team-cards .brianmckenna {
    background-image: url("/images/photo-team-empty.png");
}

#section-body #team-cards .alissapajer {
    background-image: url("/images/photo-team-alissapajer.jpg");
}

#section-body #team-cards .derekchen-becker {
    background-image: url("/images/photo-team-empty.png");
}

#section-body #team-cards .erikosheim {
    background-image: url("/images/photo-team-empty.png");
}

#section-body #team-information {
    height: 322px;
}

#team-information .information-employee {
    position: absolute;
    display: none;
    padding-top: 20px;
}

#team-information .information-employee a {
    color: #C0E1FF;
}

#team-information .information-employee:first-child {
    display: block;
}

#team-information .bio-left {
    width: 73%;
    float: left;
    padding-right: 2%;
}

#team-information .bio-right {
    width: 25%;
    float: left;
}

/*CRED SECTION*/
#body-cred-sec {
    background-color: #14171A;
    padding-top: 40px;
    padding-bottom: 40px;
}

#body-cred-sec h2 {
    text-transform: uppercase;
    font-size: 12pt;
    padding-bottom: 0px;
    color: #879EB3;
}

#cred-logos {
    width: 100%;
    min-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

#cred-logos .logo {
    height: 100px;
    display: block;
    float: left;
    width: 16.66%;
    background-repeat: no-repeat;
    background-position: center;
}

#cred-logos .snapengage {
    background-image: url("/images/logo-cred-snapengage.png");
}

#cred-logos .sita {
    background-image: url("/images/logo-cred-sita.png");
}

#cred-logos .flixmaster {
    background-image: url("/images/logo-cred-flixmaster.png");
}

#cred-logos .umass {
    background-image: url("/images/logo-cred-umass.png");
}

#cred-logos .collegeminer {
    background-image: url("/images/logo-cred-collegeminer.png");
}

#cred-logos .novawise {
    background-image: url("/images/logo-cred-novawise.png");
}

/*CONTACT US*/
#body-contactus {
    text-align: left;
}

#body-contactus a {
    display: block;
}

#body-contactus #SignUp p {
    color: #617280;
    font-style: normal;
    padding-right: 20px;
    font-size: 12pt;
}

#body-contactus #SignUp input {
    background-color: #000;
    border: 1px solid #282e33;
    color: #fff;
    font-size: 10pt;
    height: 26px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 8px;
}

#body-contactus #SignUp .required {
    color: #CC3E22;
}

#body-contactus .three-columns-end a {
    font-size: 60pt;
    text-decoration: none;
    color: #505D66;
    padding-right: 10px;
}

#body-contactus .three-columns-end a:hover {
    color: #617280;
}

#body-contactus .mini-text {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/*SIMPLE CODE BOX*/
#simple-code-box {
    width: 700px;
    height: 218px;
    background-color: #000;
    border: 1px solid #617280;
}

#simple-code-box .code-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;   
}