extends layout

block content
  #body-impression
    .holder
      #impression-logo
      h1 Advanced Analytics for Modern Data
    ul
      li
        span Social Media
      li
        span Json
      li
        span Logs
      li
        span NoSQL
      li
        span Clickstream
      li
        span XML/HTML
      .clear-left
  #impression-menu
    .holder
      a(href='/for-businesses/')
        i.icon-building
        | For Businesses
        span Unlock the value of all your data and take control of your analytics
      a(href='/for-developers/')
        i.icon-angle-left
        i.icon-angle-right
        | For Developers
        span Store and analyze JSON data natively, no transformations required
      .clear-left
  #copyrights
    .holder
      p Copyright @ 2012-2013 ReportGrid, Inc. All Rights Reserved