extends layout

block content
  #body-impression
    .holder
      #impression-logo
      h1 The Next Generation of Precog is Coming October 1st!
      p As of October 1st, Precog is being open sourced!
      p The product of 25 man-years of development, the Precog NoSQL Analytics Engine provides fast, powerful analytics across today's NoSQL data sources.
      p In addition to the open source Community Edition, Enterprise editions will be available that bundle commercial support and maintenance, provided by leading software members of the Scala big data community.
  #impression-menu
    .holder
      a(href='/for-businesses/')
        | For Businesses
        span Deeper insights across modern data sources, structured or unstructured
      a(href='/for-developers/')
        | For Developers
        span Store and analyze JSON data natively, no transformations required
      a(href='/for-data-scientists/')
        | For Data Scientists
        span Wrangle, refine, analyze, and predict, all in one unified visual tool
      .clear-left
  #copyrights
    .holder
      p Copyright @ 2012-2013 ReportGrid, Inc. All Rights Reserved