extends layout

block content
  #body-impression
    .holder
      #impression-logo
  #impression-menu
    .holder
      a(href='/for-businesses/')
        | For Businesses
        span Deeper insights across modern data sources, structured or unstructured
      a(href='/for-developers/')
        | For Developers
        span Store and analyze JSON data natively, no transformations required
      a(href='/for-data-scientists/')
        | For Data Scientists
        span Wrangle, refine, analyze, and predict, all in one unified visual tool
      .clear-left
  #copyrights
    .holder
      p Copyright @ 2012-2013 ReportGrid, Inc. All Rights Reserved